.inner-content{
    color: #002b58;
    margin-bottom: 20pxs;
    margin-left: 40px;
    position: static; /* Статичексое положение */
    z-index: 9999;
    text-align: justify
}

.blok-1{

    height: 500px;
    padding-top: 30px;
    padding-left: 7%;
    border-right: 60px;
}

.content-1{
    float: left;
    width: 55%;
}

.image-1{
    float: left;
    padding-left: 5%;
}


.blok2{
    height: 400px;
    padding-left: 7%;
    border-right: 60px;
}

.image-2{
    float: left;

}

.content-2{
    padding-left: 5%;
    float: left;
    width: 55%;
}

.blok3{
    height: 400px;
    padding-left: 7%;
    border-right: 60px;
}

.content-3{
    float: left;
    width: 55%;
}

.image-3{
    float: left;
    padding-left: 5%;
}
